<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609645772639-l2a4rpdc11qn2ur0djgbdffq0rpvbs1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609645772639-l2a4rpdc11qn2ur0djgbdffq0rpvbs1a</string>
	<key>API_KEY</key>
	<string>AIzaSyDByLoNyypf3MhbI5kWRN-OWimfUJDJfFw</string>
	<key>GCM_SENDER_ID</key>
	<string>609645772639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finnkiesinger.yum</string>
	<key>PROJECT_ID</key>
	<string>yum-recipe-3704f</string>
	<key>STORAGE_BUCKET</key>
	<string>yum-recipe-3704f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609645772639:ios:e51f066fa9854da50d00ea</string>
</dict>
</plist>